[submodule "Modules/posh-git"]
	path = Modules/posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "Modules/PSReadLine"]
	path = Modules/PSReadLine
	url = https://github.com/lzybkr/PSReadLine.git
